<div class="bg-gradient-to-b from-gray-800 to-black px-4 py-2 shadow-md">
  <div class="text-center">
    <!-- <img class="h-12 absolute top-0 px-4 -left-4 rounded-full" src="https://smpn1arutselatan.sch.id/assets/image/logo.png" alt=""> -->
    <h1 class="text-2xl pl-16 text-gray-600">Website sekolah</h1>
  </div>
</div>

<div class="absolute -z-10">
  <div class="h-screen w-screen bg-black/90 shadow-md absolute -z-10"></div>
  <img class="relative -z-20 h-screen w-screen" src="https://pbs.twimg.com/media/B_9RHQ8UwAA8Ydk.jpg" alt="">
</div>
<div class="p-4">
  <div class=" shadow-md bg-white/10 p-4">
    <ul class="text-md flex space-x-1 justify-center text-white">
      <li class="bg-gray-black px-2 py-1 hover:bg-gray-900 cursor-pointer">Menu</li>
      <li class="bg-gray-black px-2 py-1 hover:bg-gray-900 cursor-pointer">Profil</li>
      <li class="bg-gray-black px-2 py-1 hover:bg-gray-900 cursor-pointer" (click)="gotoUrl('https://ujian.smpn1arutselatan.sch.id/ujian')">Ujian</li>
      <li class="bg-gray-black px-2 py-1 hover:bg-gray-900 cursor-pointer" (click)="gotoUrl('https://ujian.smpn1arutselatan.sch.id/login')">Bank Soal</li>
      <li class="bg-gray-black px-2 py-1 hover:bg-gray-900 cursor-pointer" (click)="gotoUrl('https://ppdb.smpn1arutselatan.sch.id')">PPDB</li>

    </ul>
  </div>
</div>
<div class="pt-4 p-20 text-center">
  <div class="text-4xl text-gray-700 rounded-md shadow-md bg-white/10 p-6">
    Welcome to
    <h2 class="font-extrabold">SMP Negeri 1 Arut Selatan</h2>
    <img class="mx-auto opacity-40" src="https://smpn1arutselatan.sch.id/assets/image/logo.png" alt="">
  </div>

</div>
<footer class="text-white bg-white/20 py-2 fixed bottom-0 w-full text-center">
  copyright@payz0 2022
</footer>
