<div class="bg-black/50 p-4 shadow-md absolute z-10 w-full">
  <h2 class="text-white text-2xl">Payz0</h2>
</div>
<h1 class="text-white text-8xl text-white absolute z-10 top-1/4 p-10">Payz0
  <!-- <br> -->
  <span class="text-sm">Development web aplication</span>
</h1>
<div class="absolute bottom-20 w-full z-20">

  <!-- <div class="w-40 h-40 bg-white mx-auto text-white">hallo</div> -->
  <ul class="flex space-x-4 justify-center">
    <li  class="w-40 h-40 bg-white text-white"></li>
    <li  class="w-40 h-40 bg-white text-white"></li>
    <li  class="w-40 h-40 bg-white text-white"></li>
    <li  class="w-40 h-40 bg-white text-white"></li>
    <li  class="w-40 h-40 bg-white text-white"></li>
  </ul>
</div>
<div class="w-screen h-screen bg-black/90 fixed left-0 top-0"></div>
<img class="h-screen fixed -z-10" src="https://avatars.githubusercontent.com/u/14965941?v=4" alt="">
