<p>pdf works!</p>
<table class="w-full" id="table">
  <thead class="bg-gray-900 text-white">
    <tr class="border">
      <th>No</th>
      <th>Nama</th>
      <th>Kelas</th>
    </tr>
  </thead>
  <tbody>
    <tr class="border">
      <td class="border">1</td>
      <td class="border">AGus</td>
      <td class="border">9A</td>
    </tr>
    <tr>
      <td class="border">2</td>
      <td class="border">AGus aka</td>
      <td class="border">9A</td>
    </tr>
    <tr>
      <td class="border">3</td>
      <td class="border">kinoy</td>
      <td class="border">9A</td>
    </tr>
    <tr>
      <td class="border">4</td>
      <td class="border">Ucok</td>
      <td class="border">9A</td>
    </tr>
  </tbody>
</table>
