
<div class="bg-gray-100 border px-3 py-3 flex justify-between">
  <div>

    Mata Pelajaran :
    <ng-container *ngIf="tabs != 'list'">
      <select  [(ngModel)]="soal.mapel" >
        <option value="">-pilih mapel -</option>
        <option value="{{mapel.mapel}}" *ngFor="let mapel of dataMapel">{{mapel.mapel}}</option>
      </select>
    </ng-container>
    <ng-container *ngIf="tabs == 'list'">
      <select  [(ngModel)]="soal.mapel" (change)="loadSoalSendiri();cari = ''">
        <option value="">-pilih mapel -</option>
        <option value="{{mapel.mapel}}" *ngFor="let mapel of dataMapel">{{mapel.mapel}}</option>
      </select>
    </ng-container>
  </div>
  <div>
    Kelas
    <ng-container *ngIf="tabs != 'list'">
      <select [(ngModel)]="soal.tingkat" >
        <option value="">-pilih tingkat-</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </ng-container>
    <ng-container *ngIf="tabs == 'list'">
      <select [(ngModel)]="soal.tingkat" (change)="loadSoalSendiri();cari = ''">
        <option value="">-pilih tingkat-</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </ng-container>

  </div>
</div>

<div class="relative px-3 py-3 bg-white shadow-sm overflow-hidden">
  <div>
    <span (click)="openTab('soal')" class="rounded-t-lg hover:bg-white bg-gray-100 shadow-sm text-gray-500 text-sm py-2 hover:border-blue-500 border-b-2 px-3 cursor-pointer">Tulis Soal</span>
    <span (click)="openTab('rumus')" class="rounded-t-lg hover:bg-white bg-gray-100 shadow-sm text-gray-500 text-sm py-2 hover:border-blue-500 border-b-2 px-3 cursor-pointer">Kode Rumus</span>
    <span (click)="openTab('import')" class="rounded-t-lg hover:bg-white bg-gray-100 shadow-sm text-gray-500 text-sm py-2 hover:border-blue-500 border-b-2 px-3 cursor-pointer">Import Soal</span>
    <span (click)="openTab('preview')" class="rounded-t-lg hover:bg-white bg-gray-100 shadow-sm text-gray-500 text-sm py-2 hover:border-blue-500 border-b-2 px-3 cursor-pointer">Preview</span>
    <span (click)="openTab('list')" class="rounded-t-lg hover:bg-white bg-gray-100 shadow-sm text-gray-500 text-sm py-2 hover:border-blue-500 border-b-2 px-3 cursor-pointer">Daftar Soal</span>
    <div class="text-right hidden md:block" *ngIf="tabs == 'soal'">
      <button [ngClass]="soal._id ? 'bg-red-700 hover:bg-red-600':'bg-green-800 hover:bg-green-700' " class="   rounded shadow-lg px-4 py-1 text-white " (click)="simpan()">
        <span *ngIf="!soal._id">Setor soal</span>
        <span *ngIf="soal._id">Update soal</span>

        </button>
    </div>
  </div>
  <ng-container *ngIf="tabs == 'soal'">
    <br>
    <span class="bg-gray-300 text-gray-700 text-sm px-10"> Soal</span>
    <span class="bg-gray-200 float-right px-3 text-gray-500  rounded-t-lg text-sm cursor-pointer hover:bg-gray-50 hover:text-black" (click)="galeriImage('soal')">Sisip Gambar</span>
    <quill-editor [(ngModel)]="soal.soal" [modules]="modul" ></quill-editor>
    <div class="text-sm">
      <ul class="my-4">
        <li class="flex space-x-3 space-y-3 items-baseline px-2 py-2 " [ngClass]="opsi == 'A'? 'bg-gray-100  border-2  shadow-lg':''">
          <div (click)="pilihOpsi('A')" [ngClass]="opsi == 'A'?  'bg-slate-800': ''" class=" basis-5  border-zinc-300 w-5 h-5  border-2 rounded-full cursor-pointer" ></div>
          <div class="basis-full">
            <span (click)="pilihOpsi('A')"  class="bg-gray-300 text-gray-700 px-10 cursor-pointer"> Opsi A</span>
            <span class="bg-gray-200 float-right px-3 text-gray-500  rounded-t-lg hover:bg-gray-50 hover:text-black cursor-pointer" (click)="galeriImage('opsiA')">Sisip Gambar</span>
            <quill-editor [(ngModel)]="soal.opsiA"  [modules]="modul" ></quill-editor>
          </div>
        </li>
        <li class="flex space-x-3 space-y-3 items-baseline   px-2 py-2 "  [ngClass]="opsi == 'B'? 'bg-gray-100  border-2  shadow-lg':''">
          <div (click)="pilihOpsi('B')" [ngClass]="opsi == 'B'?  'bg-slate-800': ''" class="basis-5  border-zinc-300 w-5 h-5 border-2 rounded-full cursor-pointer" ></div>
          <div class="basis-full">
            <span (click)="pilihOpsi('B')" class="bg-gray-300 text-gray-700 px-10 cursor-pointer"> Opsi B</span>
            <span class="bg-gray-200 float-right px-3 text-gray-500  rounded-t-lg hover:bg-gray-50 hover:text-black cursor-pointer" (click)="galeriImage('opsiB')">Sisip Gambar</span>
            <quill-editor [(ngModel)]="soal.opsiB" [modules]="modul"  ></quill-editor>
          </div>
        </li>
        <li class="flex space-x-3 space-y-3 items-baseline   px-2 py-2 "  [ngClass]="opsi == 'C'? 'bg-gray-100  border-2  shadow-lg':''">
          <div (click)="pilihOpsi('C')" [ngClass]="opsi == 'C'?  'bg-slate-800': ''" class="basis-5  border-zinc-300 w-5 h-5 border-2 rounded-full cursor-pointer" ></div>
          <div class="basis-full">
            <span (click)="pilihOpsi('C')" class="bg-gray-300 text-gray-700 px-10 cursor-pointer"> Opsi C</span>
            <span class="bg-gray-200 float-right px-3 text-gray-500  rounded-t-lg hover:bg-gray-50 hover:text-black cursor-pointer" (click)="galeriImage('opsiC')">Sisip Gambar</span>
            <quill-editor  [(ngModel)]="soal.opsiC" [modules]="modul"   ></quill-editor>
          </div>
        </li>
        <li class="flex space-x-3 space-y-3 items-baseline   px-2 py-2 "  [ngClass]="opsi == 'D'? 'bg-gray-100  border-2  shadow-lg':''">
          <div (click)="pilihOpsi('D')" [ngClass]="opsi == 'D'?  'bg-slate-800': ''" class="basis-5  border-zinc-300  w-5 h-5 border-2 cursor-pointer rounded-full " ></div>
          <div class="basis-full">
            <span (click)="pilihOpsi('D')" class="bg-gray-300 text-gray-700 px-10 cursor-pointer"> Opsi D</span>
            <span class="bg-gray-200 float-right px-3 text-gray-500  rounded-t-lg hover:bg-gray-50 hover:text-black cursor-pointer" (click)="galeriImage('opsiD')">Sisip Gambar</span>
            <quill-editor  [(ngModel)]="soal.opsiD" [modules]="modul"  ></quill-editor>
          </div>
        </li>
      </ul>
    </div>
  </ng-container>
  <!-- preview -->
  <ng-container *ngIf="tabs == 'preview'" class="text-sm">
    <span class="px-3 leading-5 py-4 shadow-md " [innerHTML]="soal.soal | sanitizehtml"  [ngClass]="editor=='soal' ? 'hidden':'block'"></span>
    <div class="text-right" *ngIf="soal.jawaban"><i>Jawaban yang benar </i><b>{{soal.jawaban}}</b></div>
    <ol style="list-style-type: upper-alpha;" class="list-decimal list-outside ml-10 leading-5">
      <li class="px-3 py-2 " [innerHTML]="soal.opsiA | sanitizehtml" ></li>
      <li class="px-3 py-2 " [innerHTML]="soal.opsiB | sanitizehtml" ></li>
      <li class="px-3 py-2 " [innerHTML]="soal.opsiC | sanitizehtml" ></li>
      <li class="px-3 py-2 " [innerHTML]="soal.opsiD | sanitizehtml" ></li>
    </ol>
  </ng-container >

  <!-- import -->
  <ng-container *ngIf="tabs == 'import'">
    <div class="text-right my-3 text-sm">
      <ng-container *ngIf="!dataSoal">
        <label for="exc" class="bg-red-800 hover:bg-red-700 px-2 py-1 text-white rounded shadow-sm mr-1 cursor-pointer">Import Excel</label>
        <input id="exc" type="file" class="hidden" (change)="importExcel($event)">
        <label class="bg-sky-800 hover:bg-sky-700 px-2 py-1 text-white rounded shadow-sm cursor-pointer" (click)="downloadExcel()">Download Excel</label>
      </ng-container>
      <ng-container *ngIf="dataSoal">
          <div  class="fixed w-full px-4 py-4 right-0 bottom-0 z-10 bg-neutral-800">
            <label  class="bg-green-800  hover:bg-green-700 rounded shadow-lg px-4 py-1 mr-1 cursor-pointer  text-white" (click)="simpanArreay()" >Setor Semua</label>
            <label  class="bg-red-800 hover:bg-red-700 rounded shadow-lg px-4 py-1 text-white cursor-pointer" (click)="dataSoal = null">Batal</label>
          </div>
      </ng-container>
    </div>
    <div class="px-3 py-3 my-1 text-sm bg-white mb-14 shadow-sm grid overflow-auto h-5/6">
      <ol class="list-decimal ml-5 ">
        <li *ngFor="let soal of dataSoal; let i = index" class="relative border-2 hover:bg-indigo-50 bg-white transition-all ease-out duration-200  my-1 px-1 py-2">
          <div class="border-b bg-gray-50 px-3 py-3" [innerHTML]="soal.soal | sanitizehtml"></div>

          <ol style="list-style-type: upper-alpha;" class="ml-6">
            <li class="px-2 py-1 " [innerHTML]="soal.opsiA | sanitizehtml">
            </li>
            <li class="px-2 py-1 " [innerHTML]="soal.opsiB | sanitizehtml">
            </li>
            <li class="px-2 py-1 " [innerHTML]="soal.opsiC | sanitizehtml">
            </li>
            <li class="px-2 py-1 " [innerHTML]="soal.opsiD | sanitizehtml">
            </li>
          </ol>
          <i class="absolute text-green-900 right-0 rounded bottom-0 bg-gray-100 px-2 py-1"><b> Jawaban benar {{soal.jawaban}}</b></i>
          <i (click)="delArray(i)" class="absolute text-green-900 right-0 rounded top-0 bg-gray-100 px-2 py-1 cursor-pointer"><b class="text-2xl"> &times;</b></i>
        </li>
      </ol>
    </div>
    <table id="excel" class="hidden">
      <tr>
        <td>soal</td>
        <td>opsiA</td>
        <td>opsiB</td>
        <td>opsiC</td>
        <td>opsiD</td>
        <td>jawaban</td>
        <td>gambarSoal</td>
        <td>gambarA</td>
        <td>gambarB</td>
        <td>gambarC</td>
        <td>gambarD</td>
      </tr>
    </table>
  </ng-container>

  <!-- rumus tab -->
  <ng-container *ngIf="tabs == 'rumus'">
  <br>
    <table class="w-full leading-loose">
      <tr class="border">
        <th>Contoh Rumus</th>
        <th>Kode script</th>
      </tr>
      <tr class="border  h-16">
        <td class="text-center border">
          5<sup>2</sup> + 3 <sup>4</sup>
        </td>
        <td class="text-center">
          <span class="bg-gray-200 px-2 py-2" [innerText]="'5^2+3^4'"></span>
        </td>
      </tr>
      <tr class="border">
        <td class="text-center border">
          <span class="frac">
            <span>5</span>
            <span class="symbol">/</span>
            <span class="bottom">12</span>
          </span>
        </td>
        <td class="text-center">
          <span class="bg-gray-200 px-2 py-2" [innerText]="'\\frac{5}{12}'"></span>
        </td>
      </tr>
      <tr class="border h-16">
        <td class="text-center border">
          <span style="white-space: nowrap">
            &radic;<span style="text-decoration:overline;">&nbsp;x + 1&nbsp;</span>
            </span>
        </td>
        <td class="text-center">
          <span class="bg-gray-200 px-2 py-2" [innerText]="'\\sqrt{x+1}'"></span>
        </td>
      </tr>
      <tr class="border h-16">
        <td class="text-center border">
         2 &#247; 10
        </td>
        <td class="text-center">
          <span class="bg-gray-200 px-2 py-2" [innerText]="'\2\\div10'"></span>
        </td>
      </tr>
      <tr class="border h-16">
        <td class="text-center border">
          <span class="frac">
            <span style="white-space: nowrap">
              &radic;<span style="text-decoration:overline;">&nbsp;x + 1&nbsp;</span>
              </span>
            <span class="symbol">/</span>
            <span class="bottom">
              <span style="white-space: nowrap">
                &radic;<span style="text-decoration:overline;">&nbsp;x + 1&nbsp;</span>
                </span>
            </span>
          </span>
        </td>
        <td class="text-center">
          <span class="bg-gray-200 px-2 py-2" [innerText]="'\\frac{\\sqrt{x+1}}{\\sqrt{x+1}}'"></span>
        </td>
      </tr>
      <tr class="border h-16">
        <td class="text-center border">
          <span class="frac">
            <span>5</span>
            <span class="symbol">/</span>
            <span class="bottom">12</span>
          </span>+
          <span class="frac">
            <span>5</span>
            <span class="symbol">/</span>
            <span class="bottom">12</span>
          </span>
        </td>
        <td class="text-center">
          <span class="bg-gray-200 px-2 py-2" [innerText]="'\\frac{5}{12}+\\frac{5}{12}'"></span>
        </td>
      </tr>
      <tr class="border h-16">
        <td class="text-center border">
         <sup>2</sup><span style="white-space: nowrap">
          &radic;<span style="text-decoration:overline;">&nbsp;x + 1&nbsp;</span>
          </span>
        </td>
        <td class="text-center">
          <span class="bg-gray-200 px-2 py-2" [innerText]="'\^2\\sqrt{x+1}'"></span>
        </td>
      </tr>
      <tr class="border h-16">
        <td class="text-center border">
          <span class="frac">
            <span>5 <sup>2</sup>  </span>
            <span class="symbol">/</span>
            <span class="bottom">12<sup>4</sup></span>
          </span>
        </td>
        <td class="text-center">
          <span class="bg-gray-200 px-2 py-2" [innerText]="'\\frac{5^2}{12^4}'"></span>
        </td>
      </tr>
      <tr class="border h-16">
        <td class="text-center border">
          4 + <span class="frac">
           <span>5   </span>
            <span class="symbol">/</span>
            <span class="bottom">12</span>
          </span>
        </td>
        <td class="text-center">
          <span class="bg-gray-200 px-2 py-2" [innerText]="'4+\\frac{5}{12}'"></span>
        </td>
      </tr>
    </table>
  </ng-container>
  <!-- list -->
  <ng-container *ngIf="tabs == 'list'">
    <br>
    <div class="px-3 bg-white">
      <input type="text" (focus)="cariSemuaSoal()" placeholder="Cari soal" [(ngModel)]="cari" class="w-full px-2 py-1 border mb-1">
    </div>
    <div class="px-3 py-3 my-1 text-sm bg-white mb-14 shadow-sm grid overflow-auto h-5/6">
      <div class="flex left-0 justify-evenly px-2 w-full bg-gray-100 py-1 border absolute z-10 bottom-0">
        <div class="flex">
          <span>Hal : </span>
          <span (click)="prev()" class="bg-gray-100 border px-3 cursor-pointer shadow-sm ml-2">
            <svg class="h-5 w-5  text-gray-400 hover:text-black"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <polyline points="11 7 6 12 11 17" />
              <polyline points="17 7 12 12 17 17" />
            </svg>
          </span>
          <span class="bg-white px-4 border"> {{hal}} </span>
          <span (click)="next()" class="bg-gray-100 px-3 cursor-pointer border shadow-sm ">
            <svg class="h-5 w-5 text-gray-400 hover:text-black"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <polyline points="13 17 18 12 13 7" />
              <polyline points="6 17 11 12 6 7" />
            </svg>
          </span>
          <span class="ml-1"> dari {{sisa}}</span>
        </div>
        <select class="basis-1" [(ngModel)]="limit" (change)="loadSoalSendiri(); hal = 1; skip = 0">
          <option value="">-data-</option>
          <option value="5">5</option>
          <option value="15">15</option>
          <option value="30">30</option>
        </select>
      </div>

      <ol class="list-decimal ml-5 ">
        <li *ngFor="let soal of dataSoales | cari : cari :'soal'; let i = index" class="relative border-2 hover:bg-indigo-50 bg-white transition-all ease-out duration-200  my-1 px-1 py-2">
          <div class="px-1 py-1 w-fit bg-indigo-100 hover:bg-white shadow-sm cursor-pointer">
            <svg (click)="editan(soal)" class="h-4 w-4  bg-text-green-800 hover:bg-text-green-700" width="24"  height="24"  viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
              <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" />
              <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z" />
            </svg>
          </div>
          <div class="border-b bg-gray-50 px-3 py-3" [innerHTML]="soal.soal | sanitizehtml"></div>
          <ng-container *ngIf="idSoal == soal._id">
            <ol style="list-style-type: upper-alpha;" class="ml-6">
              <li class="px-2 py-1 " [innerHTML]="soal.opsiA | sanitizehtml">
              </li>
              <li class="px-2 py-1 " [innerHTML]="soal.opsiB | sanitizehtml">
              </li>
              <li class="px-2 py-1 " [innerHTML]="soal.opsiC | sanitizehtml">
              </li>
              <li class="px-2 py-1 " [innerHTML]="soal.opsiD | sanitizehtml">
              </li>
            </ol>
          </ng-container>
          <i class="absolute text-green-900 right-0 rounded top-0 bg-gray-100 px-2 py-1"><b> Jawaban benar {{soal.jawaban}}</b></i>
          <i (click)="showFull(soal._id)" class="absolute text-green-900 right-0 rounded bottom-0 bg-gray-100 px-2 py-1 cursor-pointer"> Show full</i>

        </li>
      </ol>
    </div>
  </ng-container>

  <!-- batas list -->
  <hr>
  <div *ngIf="tabs == 'soal'" class="my-3 text-right md:hidden">
    <button class="bg-green-800 hover:bg-green-700 rounded shadow-lg px-4 py-1 text-white" (click)="simpan()">Setor soal</button>
  </div>
  <!-- dialoqbox -->
  <div *ngIf="showImage" (click)="showImage = false" class="fixed top-0 left-0 opacity-90 bg-zinc-900 h-screen w-screen "></div>
  <div *ngIf="showImage" class="fixed w-11/12  m-0 m-auto left-0 right-0 top-20 bg-sky-400  z-40">
    <div >
      <div class="bg-gray-200 px-3 py-1">Pilih gambar
        <div class="float-right">
          <span class="cursor-pointer" (click)="showImage = false">&times;</span>
        </div>
      </div>
      <div class="h-9/12 bg-white border shadow-lg px-4 py-4">
        <input type="text" placeholder="Cari gambar" [(ngModel)]="cari" class="border px-2 w-full py-1"> <br>
        <div class="flex flex-wrap space-x-1 space-y-1 justify-evenly h-80 overflow-auto my-3">
          <img *ngFor="let gambar of dataGambar | cari : cari :'nama_file'" (error)="autoHapus(gambar._id)"  (click)="sisipImage(gambar.image)" class="w-36 ml-1 my-1 h-36 border-2 shadow-md cursor-pointer hover:border-cyan-700" src="{{baseUrl+gambar.image}}" alt="gambar">
          <i *ngIf="!dataGambar.length" class="text-3xl px-4 my-4 text-gray-400 text-center">Tidak ada gambar, belum pernah upload atau anda belum pilih mapel</i>
        </div>

        <div class="text-center">
          <br>
          <hr>
          <br>
          <label for="upload" class="cursor-pointer bg-green-800 hover:bg-green-700 px-4 py-2 rounded shadow-sm text-sm text-white">
            Upload baru
          </label>
          <input type="file" id="upload" [(ngModel)]="fileName" class="hidden" (change)="upload($event)">
        </div>
      </div>
    </div>
  </div>

</div>

